data/k.key
data/db_defaultinfo.json
data/userinfo.json
models/databaseConnection_model.pyc
models/GoogleKnowledgeGraph.pyc
*.pyc
old/word-explore.ui
old/wordexplore.py
old/wordexplore_ui.py
data/types.txt
resources/shp_wordle_prettier_new.py
Cloud_bug.png